@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --mainColor: #051823;
  --secondColor: #0a1f2e;
  --textColor: #009688;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--mainColor);
  color: white
}



@keyframes dropShadowEffect {
  0% {
    filter: drop-shadow(0 0 2em #00bcf2);
  }

  50% {
    filter: drop-shadow(0 0 4em #00bcf2);
  }

  100% {
    filter: drop-shadow(0 0 2em #00bcf2);
  }
}

::selection {
  color: #fff;
  background-color: var(--textColor);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--mainColor);
}

::-webkit-scrollbar-thumb {
  background: var(--textColor);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}